
* {
    font-family: "Oswald", serif;
    background-color: #FFF1E0;
    margin: 0;
    padding: 0;
}

/* Hide the content initially */
#content {
    display: none;
}
        
/* Center the password form */
.password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}


header {
    font-size: clamp(2rem, 5rem, 5vw);
    text-transform: uppercase;
}
.cipp {
    background-color: rgb(22, 228, 243);
}

.article {
    padding-top: 2vh;
}

img {
   
    
}

.sub-header {
    font-size: clamp(1rem, 1.5rem, 1.5vw);
    
}


